abbr[title], abbr[data-original-title] {
  text-decoration: revert;
  border-bottom: revert;
  text-decoration-skip-ink: revert;
}

figure {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

figure.floatright {
	max-width: 30%;
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 30%;
	height: auto;
	float: left;
}

div.highlight {
  background-color: burlywood;
}
