abbr[title], abbr[data-original-title] {
  text-decoration: revert;
  border-bottom: revert;
  text-decoration-skip-ink: revert;
}

figure {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

figure.floatright {
	max-width: 30%;
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 30%;
	height: auto;
	float: left;
}

div.highlight {
  background-color: burlywood;
}

@import "tufte";

// START advanced
div.alert-advanced > div {
  display: block;
  font-size: smaller;
}

div.alert-advanced > div:first-child::before {
  content: url("/images/dbend.pdf") / "Dangerous Bend";
  width: 1.5rem; // This doesn't affect the displayed width of the image.
}

.alert-advanced   {
  color: #000000;
  background-color: #d2d6cb;
  border-color: #1976d2;
}
// END advanced


_removed.dangerous-bend > div:first-child::before {
  content: url('/images/dangerous-bend.svg');
  width: 2rem; /* This has no effect on image size */
  left: 1rem;

}

// START dangerous-bend
div.dangerous-bend {
  margin: auto;

  font-size: smaller;
  border-style: solid;
  border-width: thin;
  border-color: rgb(117, 223, 37);
  // background-color: bisque;
  padding: 0.5rem;
  width: 80%;;
}

.dangerous-bend-icon {
  display: block;
  height: 4rex;
  background-color: rgb(221, 226, 141);
  width: auto;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
// END dangerous-bend

.w75 {
  width: 75%;
  margin: auto
}