abbr[title], abbr[data-original-title] {
  text-decoration: revert;
  border-bottom: revert;
  text-decoration-skip-ink: revert;
}

figure {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

figure.floatright {
	max-width: 30%;
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 30%;
	height: auto;
	float: left;
}

div.highlight {
  background-color: burlywood;
}

@import "tufte";

div.alert-advanced > div {
  display: block;
  font-size: 0.8rem;
}


div.alert-advanced > div:first-child::before {
  content: url("/images/dbend.pdf") / "Dangerous Bend";
  width: 1.5rem; // This isn't affect the displayed width of the image.
}


.alert-advanced   {
  color: #000000;
  background-color: #d2d6cb;
  border-color: #1976d2;
}


div.alert-advanced  {
	font-size: smaller
}


foo.dangerous-bend > div:first-child::before {
  content: url('/images/dangerous-bend.svg');
  width: 2rem; /* This has no effect on image size */
  left: 1rem;

}


div.dangerous-bend {
  margin-left: 30px;
  border-style: solid;
  border-width: thin;
  font-size: smaller;
  border-color: brown;
  background-color: bisque;
}

.dangerous-bend-icon{
  display: inline;
  float: left;
  height: 3rex;
  width: auto;
  vertical-align: top;
  margin-top: 0px;
  padding-top: 0ps;
}